@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To Address Book</h1>
    <p>Learn more about me by checking out my complete <a href="https://charleshallportfolio.netlify.app/">portfolio.</a></p>
</div>
